{% extends 'base.html.twig' %}

{% block title %}Banque{% endblock %}

{% block body %}
<h2>Vos Comptes bancaires</h2>
{% for account in accounts %} 
<div class="container" >
    <div class="row" >
        <div class="col-md-6 col-lg-6 py-5">
            <div class="card  text-center  " style="width: 18rem;">
                <div class="card-header mt-2"> 
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">type de compte : {{account.type}}</li>
                        <li class="list-group-item">numéro de compte : {{account.accountnumber}}</li>
                        <li class="list-group-item">solde : {{account.amount}}€</li>
                        <li class="list-group-item">crée le : {{account.datecreation|date('d/m/Y')}}</li>
                        <a href="#" class="btn btn-dark my-3">voir</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endfor %}
{% endblock %}
