{% extends 'base.html.twig' %}

{% block title %}La banque des bg du 93{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="my-3 ">
            Bonjour {{ app.user.firstname }} {{ app.user.lastname }} <a href="{{ path('app_logout') }}" class="btn btn-dark">Se déconnecter</a>
        </div>
    {% endif %}
    <h2 class="my-3">Page d'acceuil</h2>
   
{% endblock %}
