{% extends 'base.html.twig' %}

{% block title %}La banque des bg du 93{% endblock %}

{% block body %}
    <h2 class="my-3">Retait ou dépot à toi de choisir</h2>
    {{ form(form) }}   
{% endblock %}
